.main{
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.background{
    width: 101%;
    height: 101%;
    position: fixed;
    filter: blur(1px);
    top: 0;
    left: 0;
    min-width: 1450px;
    min-height: 820px;
}
.aside{
    background-color: white;
}
.logo{
    width: 140px;
    height: 60px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.menu:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}
.header{
    background: linear-gradient(to right, rgb(5, 121, 223), rgb(61, 142, 226), rgb(87, 164, 229), rgb(106, 186, 231), rgb(123, 209, 233));
    padding-top: 20px;
}
.date{
    color: rgb(163,218,235);
}
.header_text{
    margin: -3px 0 0;
}
.webMain{
    --el-main-padding: 0px;
    background-color: rgba(255,255,255, 20%);
}
.webMain_Title{
    background-color: white;
    width: auto;
    height: 40px;
    padding-top: 15px;
    padding-left: 30px;
    z-index: 5;
}
.Title{
    font-size: 20px;
    color: rgb(87, 89, 98);
}
.webBody{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    width: auto;
    --el-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
}
.myCard{
    margin-bottom: 20px;
}